<!DOCTYPE html>
<html>
  <head>
    <title>Nameofapp</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Lato" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  
  </head>

  <body>
    <%= render 'layouts/header' %>
    
    <%= yield %>

    
    <footer class="footer">
    	<div class="container">
    		<div class="col-xs-12 col-lg-12">&copy; 2016 Interior Design Again </div>
   			<div class="col-xs-12 col-lg-12 icons"><%= image_tag("fb_icon.png", size: "25x25") %><%= image_tag("pinterest_icon.png", size: "25x25") %></div> 
   		</div>
    </footer>
  </body>
</html>
